.container {
    display: flex;
}

header {
    border-bottom: 1px solid grey;
    margin-bottom: 1em;
}

#sidebar {
    border: 1px solid red;
    width: 20vw;
    padding: 0.2em;
}

#focus {
    border: 1px solid red;
    width: 80vw;
    padding: 1em;
}