{% extends 'layout.html' %}
{% load staticfiles %}
{% load graphics_tags %}

{% block head %}
    <script src={% static 'p5/p5.min.js' %} }></script>
    <script src={% static 'p5/addons/p5.dom.min.js' %} }></script>
    <script src={% static 'p5/addons/p5.sound.min.js' %} }></script>
    {% if other_files %}
        <script>
            {% for file in other_files %}
                let {{ file.file.name|isolate_name }};
            {% endfor %}

            function preload() {
                {% for file in other_files %}
                    {% if file.type.name == 'image' %}
                        {{ file.file.name|isolate_name }} = loadImage("{{ file.file.url }}");
                    {% elif file.type.name == 'text' %}
                        {{ file.file.name|isolate_name }} = loadStrings("{{ file.file.url }}");
                    {% elif file.type.name == 'json' %}
                        {{ file.file.name|isolate_name }} = loadJSON("{{ file.file.url }}");
                    {% endif %}
                {% endfor %}
            }
        </script>
    {% endif %}
    {% for file in js_files %}
        <script src="{{ file.file.url }}"></script>
    {% endfor %}
{% endblock head %}

{% block style %}
    #description {
	border-top: 2px solid rgb(211, 214, 222);
	border-bottom: 2px solid rgb(211, 214, 222);
    }
{% endblock style %}

{% block main %}
    <div class="container-fluid">
        <div class="jumbotron jumbotron-fluid py-3 px-1">
            <h4 class="display-4 text-muted text-center">{{ graphic.title }}</h4>
            <div id="frame" class="text-center mx-auto" style="width: 90%; height: 70vh;"></div>
            <div class="m-5 p-3" id="description">
                <p>{{ graphic.description|safe|linebreaks }}</p>
            </div>
        </div>
    <div>
{% endblock main %}
